<div class="main-container">
    <div id="nav">
        <app-navbar [button]="false" [name]="'Akansha Gaonkar'"></app-navbar>
    </div>
    <div class="subcontainer">
        <div class="flex-item1">
            <app-sidebar [menus]="menus"></app-sidebar>
        </div>
        <div class="flex-item2">
            <!-- <p id="heading"><b>Dashboard</b></p> -->
            <div id="text1">&lt; &nbsp; Back to Dashboard</div>
          <div class="tabs">
                <tab-navigation [tabs]="menus1"></tab-navigation>
            </div>
            <div class="main-flex">
                <div class="chart0">
                    <div class="bpGraph">
                        <!-- <bp-graph></bp-graph> -->
                    </div>

                    <div class="inner-flex">
                        <div id="cards" class="card1">
                            <div class="text">
                                <p>Number of appointments</p>
                                <h3>16</h3>
                            </div>
                            <div id="image" style="background-color: #F3FCEA; height: 4em; width: 3.8em;"><img src="assets/images/appointments.png"  ></div>
                        </div>
                        <div id="cards" class="card2">
                            <div class="text">
                                <p>Total diseases</p>
                                <h3>03</h3>
                            </div>
                            <div id="image" style="background-color:#FCEAEE; height: 3.8em; width: 3.6em;"><img src="assets/images/diseases.png" ></div>
                        </div>
                        <div class="refresh">
                            <app-button [btntext]="'Refresh'" (onClick)="onClick()"></app-button>
                        </div>
                    </div>
                </div>

                <div class="chart1">
                    <div class="pulseRate">
                        <!-- <pulse-line-graph></pulse-line-graph> -->
                    </div>
                    <div class="bmiGraph">
                        <!-- <bmi-line-graph></bmi-line-graph> -->
                    </div>

                </div>
            </div>


        </div>
</div>
