#main-container{
    width: 100vw;
    height: 100vh;
}

#nav{
    height:7%;
    width:100%;
}

 #parent-container{
    background-color: #F5FEFF;
    height:93%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
 
 #side-bar{
    width:18%;
    height:100%;
 }

#sub-container{
    background-color: #ffff;
    box-shadow: -1px 2px 5px 4px rgba(115,115,115,0.29);
    border-radius: 6px;
    width:80%; 
    height: 90%;
    margin: auto;
}

#container1{
    margin: 1.25em;   
}

#container2{
    margin: 1.25em;     
}

#text2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #2C2D2D;
    padding-top: 3em;
    padding-left: 1.25em;
}

#text1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #737373;
    padding-top: 1.25em;
    padding-left: 1.25em;
}

#text3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #2C2D2D;
    padding-left: 1.25em;
}

#add-btn{
    float: right;
    padding-right: 1.2em;
}

table {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0.5em;
}
