<div id="main-container">
  <div id="nav">
    <app-navbar [button]="false" [name]="'Akansha Gaonkar'"></app-navbar>
  </div>
  <div id="parent-container">
    <div id="side-bar">
      <app-sidebar [menus]="sidebartabs"></app-sidebar>
    </div>
    <div id="sub-container">
      <div id="text1"><a href="#"></a>&lt; &nbsp;Back to Dashboard</div>
      <div id="add-btn">
        <app-button
          class="sub-btn"
          [btntext]="'ADD'"
          [btnConfig]="textBtnConfig1"
        ></app-button>
      </div>
      <div id="text2">Current Medication</div>
      <div id="container1">
        <table>
          <tr bgcolor="#F5F5F5">
            <th>Medicine</th>
            <th>Dosage</th>
            <th>Date</th>
            <th>Record ID</th>
            <th>Action</th>
          </tr>
          <tr>
            <td>Albendazol</td>
            <td>0-0-1</td>
            <td>21-Jul-2022</td>
            <td>223183</td>
            <td>
              <app-button
                [btntext]="'Delete'"
                [btnConfig]="textBtnConfig"
              ></app-button>
            </td>
          </tr>
          <tr>
            <td>HCQS 200</td>
            <td>0-1-0</td>
            <td>21-Jul2022</td>
            <td>456378</td>
            <td>
              <app-button
                [btntext]="'Delete'"
                [btnConfig]="textBtnConfig"
              ></app-button>
            </td>
          </tr>
          <tr>
            <td>Pioz 15</td>
            <td>0-0-1</td>
            <td>21-Jul-2022</td>
            <td>568929</td>
            <td>
              <app-button
                [btntext]="'Delete'"
                [btnConfig]="textBtnConfig"
              ></app-button>
            </td>
          </tr>
        </table>
      </div>
      <div id="text3">Past Medication</div>
      <div id="container2">
        <table>
          <tr bgcolor="#F5F5F5">
            <th>Medicine</th>
            <th>Dosage</th>
            <th>Date</th>
            <th>Record ID</th>
          </tr>
          <tr>
            <td>Albendazol</td>
            <td>0-0-1</td>
            <td>21-Jul-2022</td>
            <td>223183</td>
          </tr>
          <tr>
            <td>HCQS 200</td>
            <td>0-1-0</td>
            <td>21-Jul2022</td>
            <td>456378</td>
          </tr>
          <tr>
            <td>Pioz 15</td>
            <td>0-0-1</td>
            <td>21-Jul-2022</td>
            <td>568929</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
