<div class="main-container">
    <div id="nav">
        <app-navbar [button]="false" [name]="doctorName"></app-navbar>
    </div>
    
    <div *ngIf="doctor.statusCode!='REGISTERED'" class="status"><b>
        You do not have permission to access our site.
        <div>Your Details are sent to the Admin for verification </div>
        <div *ngIf="doctor.comment === ''">Your status is = {{doctor.statusCode}}</div>
        <div *ngIf="doctor.comment != ''">Reason = {{doctor.comment}}</div></b>
        {{openPopup()}}
    </div>
    <!--modal 2-->
    <div *ngIf="doctor.statusCode=='TO_BE_REGISTERED' && doctor.comment != ''" class="modal2" role="dialog" [ngStyle]="{ display: displayStyle }">
        <div class="modal-header">
          <h4 class="modal-title">Important!</h4>
        </div>
        <div class="modal-body">
          <!-- <div class="form-cell">
            <div class="cell"> -->
              <!-- <label>Explanation:</label> -->
              <p><b>Your details are being removed from our database as we couldn't verify your documents. Please register again!</b></p>
            <!-- </div>
          </div> -->
          <br />
          <div class="modal-footer">
            <app-button [btntext]="'OK'" [btnConfig]="textBtnConfig" (click)="removeDoctor()">
            </app-button>
          </div>
        </div>
      </div>
      <!--modal ends-->
    <div *ngIf="doctor.statusCode=='REGISTERED'" class="subcontainer">
        <div class="flex-item1">
            <app-sidebar [menus]="menus"></app-sidebar>
        </div>
        <div class="flex-item2">
            <div class="main">
                <div class="search">
                    <div id="patient-id">
                        <div class="inp">
                            <app-input [ipConfig]="searchPatientId" (outputEmit)="patientId=$event"></app-input>
                        </div>
                        <div class="img-btn"><img (click)="GetPatient()" 
                                    src="assets/images/search.png" style="height: 2.5em;">
                        </div>
                    </div>
                </div>
                <div class="inner-flex">
                    <div id="cards" class="card1">
                        <div class="text">
                            <p>Number of appointments</p>
                            <h3>500</h3>
                        </div>
                        <div id="image"><img src="assets/images/appointments.png" style=" height: 4.2em; width: 4em;">
                        </div>
                    </div>
                    <div id="cards" class="card2">
                        <div class="text">
                            <p>Total Patients</p>
                            <h3>360</h3>
                        </div>
                        <div id="image"><img src="assets/images/person-icon.png" style=" height: 4.2em; width: 4em;">
                        </div>
                    </div>
                    <div id="cards" class="card1">
                        <div class="text">
                            <p>Male:Female ratio</p>
                            <h3>2:3</h3>
                        </div>
                        <div id="image" ><img src="assets/images/person-icon.png" style=" height: 4.2em; width: 4em;">
                        </div>
                    </div>
                </div>
                <div class="past-app">
                    <b style="margin: 1em; font-size: 1.2em;">Past Appointments</b>
                    <div class="table-container">
                        <table>
                            <tr>
                                <th>Date</th>
                                <th>Patient name</th>
                                <th>Diagnosis</th>
                                <th>Severity</th>
                                <th>Prescription</th>
                            </tr>
                            <!-- <tr *ngFor="let pastRecord of allPastRecords">
                    <td>{{pastRecord.uploadDate}}</td>
                    <td>{{pastRecord.doctorName}}</td>
                    <td>{{pastRecord.diagnosis}}</td>
                    <td>{{pastRecord.severity}}</td>
                    <td>{{pastRecord.uploadedBy}}</td> -->

                            <!-- <td>
                      <app-button [btntext]="'View'" [btnConfig]="textBtnConfig"></app-button>
                    </td>
                </tr> -->

                        </table>
                    </div>
                </div>
                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Enter OTP</h4>
                        </div>
                        <div class="modal-body">
                            <app-input name="uploadDate" (outputEmit)="otp=$event" [ipConfig]="ipConfig">
                            </app-input>
                            <br>
                            <div class="modal-footer">
                                <app-button [btntext]="'Verify'" [btnConfig]="textBtnConfig" (onClick)="Verifyotp()">
                                </app-button>
                                <app-button [btntext]="'Close'" [btnConfig]="textBtnConfig" (click)="closePopup()">
                                </app-button>
                            </div>

                    
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>