<!-- <div  style="width:100%; height:17em;" >
<ejs-chart  id="chart-container" style='display:block' align='center'  [title]='title'
                    [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [tooltip]='tooltip'
                    (load)='load($event)' [chartArea]='chartArea'  [legendSettings]='legend'>

                    <e-series-collection>
                        <e-series [dataSource]='pulseRate' type='Line' xName='date' yName='pulse' [marker]='circleMarker' width=2 opacity=1>
                        </e-series>
                    </e-series-collection>
                </ejs-chart>
            </div> -->

    <div align='center'>
        <ejs-chart style='display:block' align='center' id='pulse-chart-container' [title]='title' [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'
            [tooltip]='tooltip' (load)='load($event)' [chartArea]='chartArea' [legendSettings]='legend'>
                 
            <e-series-collection>
                <e-series [dataSource]='pulseRate' type='MultiColoredArea'  xName='date' yName='pulse'[marker]='circleMarker' segmentAxis='X' name='US' width=2
                    [segments]='segments'>
                  
                </e-series>
            </e-series-collection>
        </ejs-chart>
    </div>

<style>

#spring stop {
        stop-color: #7fe7dc;
    }

    #spring stop[offset="0"] {
        stop-color:   #f47a60  ;
    }

    #spring stop[offset="1"] {
        stop-color:  #7fe7dc ;
    }
</style>
<svg style="height: 0">
    <defs>
        <linearGradient id="spring" x1="0" x2="0" y1="0" y2="1">
            <stop offset="0"></stop>
            <stop offset="1"></stop>
        </linearGradient>
    </defs>
</svg>
