<div id="main-container">
    <app-navbar [button]="true" [btntext]="'Login'"></app-navbar>
    <div id="sub-container">
        <div id="image-container">
            <img id="reg-image" src="assets/images/reg-img.png" alt="reg-image" >
            <div id="main-text">Your Health Comes First</div>
            <div id="moto-text">With Central Health Log you can manage your personal health reports effectively. </div>
        </div>
        <div id="reg-container">
            <form>
                <div id="reg-heading">Register Account</div>
                <div class="select-user">
                    <p>Select the User Type</p>
                    <div id="buttons"><app-button [btntext]="'Patient'" [btnConfig]="btnstyle"></app-button>
                    <app-button [btntext]="'Doctor'" [btnConfig]="btnstyle"></app-button>
                    </div>
                </div>
            </form>
        </div>
    </div>