#main-container {
    width: 100vw;
    height: 100vh;

    #nav{
        width: 100%;
        height: 7%;
    }

#sub-container {
    width: 100%;
    height: 93%;
    background-color: #F5FEFF;
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;

    #image-container {
        width: 40%;
        height: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        #reg-image{
            height: 19em;
            width:26em;

        }
    
    .content{
        text-align: center;
        font-family: 'Montserrat';
        font-style: normal;
        padding-left:2em ;
        padding-top:1.3em;
    
        #main-text {
            color: #2C2D2D;
            font-weight: 700;
            font-size: 1.7em;
            line-height: 2em;
        }
        
        #moto-text {
            font-weight: 400;
            font-size: 0.8em;
            line-height: 1em;
            letter-spacing: 0.1em;
            color: #737373;
            width: 22em;
            margin-left:7em ;
        }
    }
    }




#reg-container {
    width: 54%;
    height: 85%;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 1em;

    p {

        padding-top: 20px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        color: #1A1A1A;

    }
}


#reg-heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 29px;
    color: #2C2D2D;


}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5em;

}

button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8em;
    line-height: 1.1em;
    width: 8em;
    height: 1.8em;
    border: 0.0625em solid #949494;
    border-radius: 0.0625em 0.0625em 0 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
    outline: none;
}

button:hover,
button:focus ,button:active,.active{
    font-weight: 700;
    background: #DAFDFF;
    border: 0.0625em solid #1CB5BD;
    color: #1CB5BD;
    outline: none;

}

label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1em;
    color: #1A1A1A;
}
}
}