<div class="sidebar">
    <div class="tab"   [ngClass]="{'active': menu.value[2]===1}" *ngFor="let menu of menus | keyvalue" id="sidebar-element" routerLink={{menu.value[1]}}>
        <div class="item">
        <img id="sidebar-icon" *ngIf="menu.value[0]==='Dashboard'" src="assets/images/Dashboard-icon.svg" width="25"
            height="25">
        <img id="sidebar-icon" *ngIf="menu.value[0]!='Dashboard'" src="assets/images/Sidebar-icons.svg" width="25"
            height="25">
        {{menu.value[0]}}
    </div>
</div>
    
</div>


<!-- in parent.component.ts file -->
<!-- tabs={'1':["Dashboard","/patient-dashboard"],'2':["Patient Details","/patient-details"],'3':["Past Records","/past-records"]}; -->

<!-- in parent/html -->
<!-- <app-sidebar [menus]="tabs"></app-sidebar> -->