
.navbar{
    background-color: #fff;
    height: 70px;
    font-family: Montserrat;
    font-size: 35px;
    span{
        color: #1CB5BD;
    }
    
        .plus{
            height: 40px;
       
        }
    }    
    
