<div id="main-container">
    <div id="nav">
    <app-navbar [btntext]="'Register'"></app-navbar></div>
    <div id="parent-container">
        <div class="sidebar">
        <app-sidebar [menus]="tab"></app-sidebar></div>
        <div id="sub-container">
            <div id="text1"><a href="#" ></a>Back to Dashboard</div>
            <div id="text2">Update Details</div>
            <div id="container">
                <form>
                <div id="container1">
                    <div id="sub-container1">
                        <div class="form-group">
                            <label for="first name">Height</label>
                            <input 
                                id="first name" 
                                type="text" 
                                class="form-control"
                                >
                        </div>
                        <div class="form-group">
                            <label for="email">BMI</label>
                            <input 
                                id="email" 
                                type="text" 
                                class="form-control"
                                >
                        </div>
                        <div class="form-group">
                            <label for="gender">Immunization</label>
                            <input 
                                id="gender" 
                                type="text" 
                                class="form-control"
                                >
                        </div>
                        <div class="form-group">
                            <label for="gender">Family medical history</label>
                            <input 
                                id="gender" 
                                type="text" 
                                class="form-control"
                                >
                        </div>
                    </div>
                    <div id="sub-container2">
                        <div class="form-group">
                            <label for="Last name">Weight</label>
                            <input 
                                id="last name" 
                                type="text" 
                                class="form-control"
                                >
                        </div>
                        <div class="form-group">
                            <label for="contactno">Allergies</label>
                            <input 
                                id="contactno" 
                                type="text" 
                                class="form-control"
                               >
                        </div>
                        <div class="form-group">
                            <label for="contactno">Blood Group</label>
                            <input 
                                id="age" 
                                type="text" 
                                class="form-control"
                               >
                        </div>
                        <div class="form-group">
                            <label for="contactno">Chronic health problem</label>
                            <input 
                                id="healthprb" 
                                type="text" 
                                class="form-control"
                               >
                        </div>
                    </div>
                </div>
                <div id="container2">
                    <!-- <div id="update-btn"><app-button  class="sub-btn" [btntext]="'UPDATE'" [btnConfig]="textBtnConfig"></app-button></div> -->
                </div>
                </form>
            </div>
        </div>
    </div>
</div>  