<div id="main-container">
    <div id="nav">
    <app-navbar [button]="false" [name]="'Akanksha Gaonkar'"></app-navbar></div>
    <div id="parent-container">
      <div class="sidebar"><app-sidebar [menus]="menus"></app-sidebar></div>
      <div id="sub-container">
        <div id="text1"><a href="#"></a>&lt; &nbsp;Back to Dashboard</div>
        <div id="text2">Update Details</div>
        <div id="container">
          <form (ngSubmit)="onupdate()">
            <div id="container1">
              <div id="sub-container1">
                <div class="form-group">
                  <label for="height">Height</label>
                  <app-input [ipConfig]="ipConfig1" (outputEmit)="heightReceived($event) "></app-input>
                </div>
                <div class="form-group">
                  <label for="bmi">BMI</label>
                  <app-input [ipConfig]="ipConfig2" (outputEmit)="bmiReceived($event) "></app-input>
                </div>
                <div class="form-group">
                  <label for="immunizations">Immunizations</label>
                  <app-input [ipConfig]="ipConfig3" (outputEmit)="immunizationsReceived($event) "></app-input>
                </div>
                <div class="form-group">
                  <label for="familymedicalhistory">Family Medical History</label>
                  <app-input [ipConfig]="ipConfig4" (outputEmit)="familymedicalhistoryReceived($event) "></app-input>
                </div>
              </div>
              <div id="sub-container2">
                <div class="form-group">
                  <label for="Weight">Weight</label>
                  <app-input [ipConfig]="ipConfig5" (outputEmit)="weightReceived($event) "></app-input>
                </div>
                <div class="form-group">
                  <label for="allergies">Allergies</label>
                  <app-input [ipConfig]="ipConfig6" (outputEmit)="allergiesReceived($event) "></app-input>
                </div>
                <div class="form-group">
                  <label for="bloodgroup">Blood Group</label>
                  <app-input [ipConfig]="ipConfig7" (outputEmit)="bloodGroupReceived($event) "></app-input>
                </div>
                <div class="form-group">
                  <label for="chronichealthproblem">Chronic Health Problem</label>
                  <app-input [ipConfig]="ipConfig8" (outputEmit)="chronichealthproblemReceived($event) "></app-input>
                </div>
              </div>
            </div>
            <div id="container2">
              <div id="update-btn"><app-button  class="sub-btn" [btntext]="'UPDATE'" (onClick)="onupdate()"  [btnConfig]="textBtnConfig"></app-button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>