button {
  font-family: 'Montserrat';
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // padding: 0.7em 1.8em;
  gap: 0.5em;
  width: 100%;

  font-style: normal;
  font-weight: 500;
  font-size: 0.85em;
  border-color: #1CB5BD;
  height: 1.2em;
  border: 0.0625 solid #1CB5BD;
  border-radius: 0.25em;
  font-family: 'Montserrat';
  line-height: 1em;
  background: #fff;
  color: #1CB5BD;
  box-sizing: border-box;


}

button:hover ,
button:focus {
  background: #DAFDFF;
  outline: none;
}
