
<ng-container *ngTemplateOutlet="btnConfig['text'] ? text : image">
</ng-container>

<!-- Text Button -->
<ng-template #text>
  <button type="button" [ngStyle]="btnConfig.styles" (click)="onClickBtn($event)">
   <b> {{btntext}}</b>
  </button>
</ng-template>

<!-- Profile Section -->
<ng-template #image>
  <div>
    <img class="image"  src="../../../assets/images/Person.png" 
      (click)="onImgBtnClick($event)">
    <app-dropdown (value)="saveValue($event)" class="dropdown" [states]="droptxt" [dropConfig]="textDropConfig"></app-dropdown>
  </div>
</ng-template>