
  <button type="button" class="btn btn-outline-info" [ngStyle]="btnConfig.styles" (click)="onClickBtn($event)">
   <b> {{btntext}}</b>
  </button>


<!-- How to use -->
<!-- <app-button [btntext]="'Register'" [btnConfig]="textBtnConfig" ></app-button> -->

<!-- give styling like this in component.ts file -->

<!-- textBtnConfig = {
  styles: {
    DO NOT CHANGE THIS STYLING

    fontFamily: 'Montserrat',
    display: 'flex',
    flexDirection: 'row',
    justifyContent: 'center',
    alignItems: 'center',
    padding: '8px 54px',
    gap: '10px',
    
    U CAN CHANGE THIS ACCORDING TO YOUR REQUIREMENT

    width: '100%',
    backgroundColor: '#fff',
    color: '#1CB5BD',
    fontSize: '28px',
    borderColor: '#1CB5BD',
    height: '40px',
    border: '1px solid #1CB5BD',
    borderRadius: '4px',  
  }
}; -->
