<div class="main-container">
  <div id="nav">
    <app-navbar [button]="false" [name]="'Rohit Pandey'"></app-navbar>
  </div>
  <div class="subcontainer">
    <div class="flex-item1">
      <app-sidebar [menus]="menus"></app-sidebar>
    </div>
    <div class="flex-item2">
      <div class="main">
        <div id="text1"><a href="#"></a>&lt; &nbsp; Back to Dashboard</div>
        <div class="search-filter">
          <div class="left">
            <div id="sort-by">Sort By</div>
            <div style="margin-right: 10px;">
              <app-input [ipConfig]="searchConfig1" (outputEmit)="onClickEventReceived($event)"></app-input>
            </div>
            <div style="margin-right: 10px;">
              <app-input [ipConfig]="searchConfig2" (outputEmit)="onClickEventReceived($event)"></app-input>
            </div>
            <div>
              <app-button [btntext]="'Search'" [btnConfig]="textBtnConfig3"></app-button>
            </div>
          </div>
          <div class="right">
            <div style="margin-left: 10px;">
              <app-button id="myBtn" [btntext]="'Filter by doctor'" [btnConfig]="textBtnConfig"></app-button>
              <!-- <app-dropdown [states]="optionList" [dropConfig]="textDropConfig"></app-dropdown> -->
            </div>
            <div style="margin-left: 10px;">
              <app-button [btntext]="'Filter severity'" [btnConfig]="textBtnConfig"></app-button>
            </div>
            <div style="margin-left: 10px;">
              <app-button [btntext]="'Add past record'" [btnConfig]="textBtnConfig2" (click)="openPopup()"></app-button>
            </div>
            <!--Modal starts-->
            <div>
              <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Add past record</h4>
                    </div>
                    <div class="modal-body">
                      <!-- <form>
                        <div class="flex-modal">
                          <div class="top">
                            <div class="left">
                              <label>Date:</label>
                              <app-input [ipConfig]="dateConfig" (outputEmit)="onClickEventReceived($event)">
                              </app-input>
                            </div>
                            <div class="right">
                              <label>Doctor name:</label>
                              <app-input [ipConfig]="nameConfig" (outputEmit)="onClickEventReceived($event)">
                              </app-input>
                            </div>
                          </div>
                          <div class="bottom">
                            <div class="left">
                              <label>Diagnosis:</label>
                              <app-input [ipConfig]="diagnosisConfig" (outputEmit)="onClickEventReceived($event)">
                              </app-input>
                            </div>
                            <div class="right">
                              <label>Prescription:</label>
                              <app-input [ipConfig]="descriptionConfig" (outputEmit)="onClickEventReceived($event)">
                              </app-input>
                            </div>
                          </div>
                        </div>
                      </form> -->

                      <div class="flex-modal">
                        <div class="grid-item">
                          <label>Date:</label>
                          <app-input [ipConfig]="dateConfig" (outputEmit)="onClickEventReceived($event)">
                          </app-input>
                        </div>
                        <div class="grid-item">
                          <label>Doctor name:</label>
                          <app-input [ipConfig]="nameConfig" (outputEmit)="onClickEventReceived($event)">
                          </app-input>
                        </div>
                        <div class="grid-item">
                          <label>Diagnosis:</label>
                          <app-input [ipConfig]="diagnosisConfig" (outputEmit)="onClickEventReceived($event)">
                          </app-input>
                        </div>
                        <div class="grid-item">
                          <label>Prescription:</label>
                          <app-input [ipConfig]="descriptionConfig" (outputEmit)="onClickEventReceived($event)">
                          </app-input>
                        </div>
                      </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" (click)="closePopup()">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Modal ends-->
          </div>
        </div>
        <div class="table-container">
          <table>
            <tr>
              <th>Date</th>
              <th>Doctor name</th>
              <th>Diagnosis</th>
              <th>Severity</th>
              <th>Prescription</th>
            </tr>
            <tr>
              <td>10/12/22</td>
              <td>Dr. Rogit Patel</td>
              <td>Fever</td>
              <td>3</td>
              <td>
                <app-button [btntext]="'View'" [btnConfig]="textBtnConfig"></app-button>
              </td>
            </tr>
            <tr>
              <td>10/12/22</td>
              <td>Dr. Rogit Patel</td>
              <td>Fever</td>
              <td>3</td>
              <td>
                <app-button [btntext]="'View'" [btnConfig]="textBtnConfig"></app-button>
              </td>
            </tr>
            <tr>
              <td>10/12/22</td>
              <td>Dr. Rogit Patel</td>
              <td>Fever</td>
              <td>3</td>
              <td>
                <app-button [btntext]="'View'" [btnConfig]="textBtnConfig"></app-button>
              </td>
            </tr>
            <tr>
              <td>10/12/22</td>
              <td>Dr. Rogit Patel</td>
              <td>Fever</td>
              <td>3</td>
              <td>
                <app-button [btntext]="'View'" [btnConfig]="textBtnConfig"></app-button>
              </td>
            </tr>
            <tr>
              <td>10/12/22</td>
              <td>Dr. Rogit Patel</td>
              <td>Fever</td>
              <td>3</td>
              <td>
                <app-button [btntext]="'View'" [btnConfig]="textBtnConfig"></app-button>
              </td>
            </tr>
            <tr>
              <td>10/12/22</td>
              <td>Dr. Rogit Patel</td>
              <td>Fever</td>
              <td>3</td>
              <td>
                <app-button [btntext]="'View'" [btnConfig]="textBtnConfig"></app-button>
              </td>
            </tr>
            <tr>
              <td>10/12/22</td>
              <td>Dr. Rogit Patel</td>
              <td>Fever</td>
              <td>3</td>
              <td>
                <app-button [btntext]="'View'" [btnConfig]="textBtnConfig"></app-button>

              </td>
            </tr>

          </table>
        </div>

      </div>
    </div>
  </div>
</div>