#main-container{
    width: 100vw;
    height: 100vh;
}

#nav-bar{
    height:7%;
}

#sub-container{
    height:93%;
    background-color:#DAFDFF;
}

#image-container{
    padding-top: 100px;
    padding-left: 100px;
}

#main-text{
    font-family: Montserrat;
    padding-top: 50px;
    font-size: 45px;
    padding-left: 180px;
}

#moto-text{
    font-family: Montserrat;
    padding-top: 10px;
    font-size: 22px;
    color: #737373;
    padding-left: 60px;
    display: flex;
}