<div id="main-container">
    <app-navbar [btntext]="'Register'"></app-navbar>
    <div id="sub-container">
        <div id= image-container>
           <img src="assets/images/login_bg.png" alt="login-bg-image">
           <div id="main-text"><strong> Your Health Comes First.</strong></div>
           <div id="moto-text">With Central Health Log you can manage your personal health reports effectively. </div>
        </div>
        <div id="login-container">
                <form>
                    <div id ="login-heading">LOGIN</div>
                    <div >
                        <span id="text">Select the User Type</span>
                        <div id="buttons">
                            <app-button  [btntext]="'Patient'" [btnConfig]="textBtnConfig"></app-button>
                            <app-button  [btntext]="'Doctor'" [btnConfig]="textBtnConfig"></app-button>
                            <app-button  [btntext]="'Admin'" [btnConfig]="textBtnConfig"></app-button>
                            
                        </div>
                    </div>
                    <div id="form-container">
                        <div class="form-group">
                            <div id="name">Username</div> 
                            <app-input [inputType]="type" [inputLabel]="label" [validations]="parentValidations" (outputEmit)="onClickEventReceived($event)"></app-input>
                            </div>
                        
                        <div class="form-group">
                            <div id="pass">Password</div>
                            <app-input [inputType]="type2" [inputLabel]="label2" [validations]="parentValidations2" (outputEmit)="onClickEventReceived($event)"></app-input>
                        </div>
                    </div>
                    <div id="login-btn">
                    <app-button  [btntext]="'LOGIN'" [btnConfig]="textBtnConfig"></app-button></div>
                    
                </form> 
            
        </div> 
    </div>
</div>

<!-- #loginForm="ngForm" (ngSubmit)="login(login)" -->

