#main-container{
    width: 100vw;
    height: 100vh;
}

#nav-bar{
    height:7%;
}

#sub-container{
    height:93%;
    background-color:#F5FEFF;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;

}

#image-container{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    font-family: Montserrat;
    #main-text{
        font-size: 45px;
        padding-top: 40px;
    }
    #moto-text{
        font-size: 22px;
        color: #737373;
        padding-top: 10px;
    }
}

#login-container{
    background-color: #ffff;
    box-shadow: -1px 2px 5px 4px rgba(115,115,115,0.29);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    width:500px; 
    height: 600px;
    justify-content: center;
    align-items: center;
    
}

#login-heading{
    font-family: Montserrat;
    font-size: 45px;
    text-align: center;



}
#login-btn{
    text-align: center;
}

#form-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    // width: 100%;
}

// .form-group{
//     width: 40%;
// //    border: 2px solid black;
// //    padding-top: 50px;
// //    padding-left: 50px;
// padding: 0px 50px ;
// }

// #buttons{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

// }