#main-container{
    width: 100vw;
    height: 100vh;
}

#nav{
    height:7%;
    width: 100%;
}

#sub-container{
    height:93%;
    background-color:#F5FEFF;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
}

#image-container{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    font-family: Montserrat;
    #main-text{
        font-size: 45px;
        padding-top: 40px;
    }
    #moto-text{
        font-size: 22px;
        color: #737373;
        padding-top: 10px;
    }
}

#login-container{
    background-color: #ffff;
    box-shadow: -1px 2px 5px 4px rgba(115,115,115,0.29);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    width:27%; 
    height: 60%;
    justify-content: space-evenly;
    align-items: center;
}

#login-heading{
    font-size: 45px;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

#login-btn{
    text-align: center;
}

#text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1A1A1A;
    border: #1A1A1A soild ;
}

#form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

// input{
//     width: 80%;
//     margin-left: 20px;
//     font-family: 'Montserrat';
//     font-style: normal;
    
   
    
// }
#name,#pass{
    // border: #1A1A1A 1px solid ;
    width: 20%;
    margin-right: 20px;

}

#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    

    // width: 400px;
    // height: 42px;
    // left: 1157px;
    // top: 397px;

}
app-button{
    margin-right: 5px;
    
}
input:focus{
    border-color: #1CB5BD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #1CB5BD;
    outline: 0 none;
    // text-decoration
    background-color: '#DAFDFF';
    // background-color: #1A1A1A;
}

