<div class="main-container">
  <div id="nav">
    <app-navbar [button]="false" [name]="adminName"></app-navbar>
  </div>
  <div class="subcontainer">
    <div class="flex-item1">
      <app-sidebar [menus]="menus"></app-sidebar>
    </div>
    <div class="flex-item2">
      <div class="main">
        <div id="text1"><a routerLink="/patient-dashboard"></a>To Be Registered Doctors</div>
        <div id="doctor-id">
          <app-input [ipConfig]="searchDoctorId" (outputEmit)="DocID=$event"></app-input>
          <img src="assets/images/search.png" style="height: 2.5em;cursor: pointer;" (click)="searchDoc()">
        </div>
          <div class="table-container">
            <table>
              <tr>
                <th>ID</th>
                <th>Doctor Name</th>
                <th>Qualification</th>
                <th>Speciality</th>
                <th>Contact</th>
                <th>Action</th>
              </tr>
              <tr *ngFor="let doctor of doctors">
                <td>{{doctor.id}}</td>
                <td>{{doctor.doctorName}}</td>
                <td>{{doctor.qualification}}</td>
                <td>{{doctor.speciality}}</td>
                <td>{{doctor.phoneNo}}</td>
                <td>
                  <app-button (onClick)="onClickEventReceived($event, doctor.id, 'IN_PROGRESS')" [btntext]="'Send'"
                    [btnConfig]="textBtnConfig"></app-button>
                </td>
              </tr>

            </table>
          </div>
          <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
            <div class="modal-content">
              <div class="modal-body">
                <div class="modal-footer">
                  <br>
                  <h4 class="modal-title">Sent Successfully!</h4>
                  <div>
                    <app-button [btntext]="'Close'" [btnConfig]="textBtnConfig" (click)="closePopup()">
                    </app-button>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>