.main-container {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat';
    font-style: normal;
    display: table-cell;

    #nav {
        height: 7%;
        width: 100%;
    }

    .subcontainer {
        background-color: #f5feff;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;

        .flex-item1 {
            width: 18%;
            height: 100%;
        }

        .flex-item2 {
            width: 80%;
            height: 95%;
            box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.15);
            border-radius: 0.7em;
            background: #FFFFFF;
            // margin: auto;
            margin: 2em;
            margin-bottom: 0;

            // display: grid;
            // grid-template-columns: 1fr;
            // grid-template-rows: 1fr;
            // gap: 0em 0em;
            // grid-template-areas: ".";

            #heading {
                font-weight: 700;
                font-size: 1.1em;
                line-height: 1.2em;
                color: #2C2D2D;
                margin: 1.25em;
            }
            p {
                font-weight: 600;
                font-size: 1.1em;
                // line-height: 1.5em;
                color: #2C2D2D;
            }


            .main-flex {
                display: flex;
                flex-direction: column;
                margin: 1.25em;
                gap: 1em;

                .inner-flex {
                    display: flex;
                    flex-direction: row;
                    gap: 1em;
                    margin: 1em;

                    #cards {
                        background: #FFFFFF;
                        border: 0.1em solid #EAEBED;
                        border-radius: 0.4em;
                        padding: 0.7em;
                        padding-bottom: 0em;
                        margin-bottom: 0em;
                        display: flex;
                        width: 100%;
                        flex-direction: row;
                        justify-content: space-between;
                        font-size: 1em;

                       
                        .text1 {

                            // display: flex;
                            // flex-direction: column;
                            // gap: 0em;
                            span {
                                font-weight: 600;
                                font-size: 1em;
                                color: #2C2D2D;
                            }
                        }

                        h3 {
                            font-weight: 600;
                            font-size: 2.5em;
                            color: #2C2D2D;
                        }

                        #image {
                            margin: 0.55em;
                            align-content: center;
                        }
                    }
                }

                .tabs {


                    .nav {
                        width: 100%;
                        height: 100%;
                        background: #FFFFFF;
                        font-weight: 400;
                        font-size: 1em;
                        line-height: 2em;
                        margin: auto;
                        gap: 2em;
                        border-bottom: 0.02em solid #E7E6EF;
                        border-radius: 0;
                    }

                    .tab {
                        cursor: pointer;
                        color: #030202;
                        background-color: #ffffff;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: flex-start;
                        text-align: center;
                    }


                    .tab:hover,
                    .tab:focus,
                    .tab:active,
                    .active {
                        color: #1CB5BD;
                        border-bottom: 0.25em solid #1CB5BD;
                    }

                    .item {
                        text-align: center;
                        width: 100%;
                        height: 2.2em;
                    }
                }

                .charts {
                    padding: auto;
                }


            }
        }
    }
}
