<div class="main-container">
    <div id="nav">
        <app-navbar [button]="false" [name]="patientName"></app-navbar>
    </div>
    <div class="subcontainer">
        <div class="flex-item1">
            <app-sidebar [menus]="tabs"></app-sidebar>
        </div>
        <div class="flex-item2">
            <p id="heading"><b>Dashboard</b></p>
            <div class="main-flex">
                <div class="inner-flex">
                    <div id="cards" class="card1">
                        <div class="text">
                            <p>Number of appointments</p>
                            <h3>{{appointments}}</h3>
                        </div>
                        <div id="image"><img src="assets/images/appointments.png" style=" height: 4.1em; width: 3.8em;"
                                s></div>
                    </div>
                    <div id="cards" class="card2">
                        <div class="text">
                            <p>Total diseases</p>
                            <h3>{{diseases}}</h3>
                        </div>
                        <div id="image"><img src="assets/images/diseases.png" style=" height: 4.1em; width: 3.8em;">
                        </div>
                    </div>
                    <div id="cards" class="card2">
                        <div class="text1">
                            <p>Last Health Check-up</p>
                            <div>Doctor : <span>{{lastHealthCheckup.doctorName}} </span></div>
                            <div>Diagnosis   : <span>{{lastHealthCheckup.diagnosis}}</span> </div>
                            <div>Date   : <span>{{lastHealthCheckup.uploadDate}}</span> </div>
                            
                        </div>

                    </div>
                </div>
                <div class="tabs">
                    <nav class="nav">
                        <div class="tab" (click)="onClick(menu,menus)" [ngClass]="{'active': menu.value[1]===true}"
                            *ngFor="let menu of menus | keyvalue" id="sidebar-element">
                            <div class="item">
                                {{menu.value[0]}}
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="charts">
                    <div *ngIf="bmi" class="bmiGraph">
                        <app-area-graph></app-area-graph>
                    </div>
                    <div *ngIf="pulse" class="pulseRate">
                        <pulse-line-graph></pulse-line-graph>
                    </div>
                    <div *ngIf="bp" class="bpGraph">
                        <bp-graph></bp-graph>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>