<div class="main-container">
  <app-navbar [btntext]="'Login'"></app-navbar>
  <div class="container-body">
    <div class="card w-75 mx-auto">
      <div class="card-body">
        <form>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Doctor name:</label>
            <div class="col-sm-4">
              <input
                [(ngModel)]="doctor.name"
                type="text"
                class="form-control"
                name="name"
              />
            </div>
            <label class="col-sm-2 col-form-label">Aadhaar no:</label>
            <div class="col-sm-4">
              <input
                [(ngModel)]="doctor.aadhaarNo"
                type="text"
                class="form-control"
                name="aadhaarNo"
              />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Registration no:</label>
            <div class="col-sm-4">
              <input
                [(ngModel)]="doctor.registrationNo"
                type="text"
                class="form-control"
                name="registrationNo"
              />
            </div>
            <label class="col-sm-2 col-form-label">Year of Registration:</label>
            <div class="col-sm-4">
              <input
                [(ngModel)]="doctor.yearOfRegistration"
                type="text"
                class="form-control"
                name="yearOfRegistration"
              />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">
              State medical council:
            </label>
            <div class="col-sm-4">
              <app-dropdown
                [states]="stateList"
                [dropConfig]="textDropConfig"
                (selectedDropdown)="saveState($event)"
              ></app-dropdown>
            </div>
            <label class="col-sm-2 col-form-label">Qualification:</label>
            <div class="col-sm-4">
              <input
                [(ngModel)]="doctor.qualification"
                type="text"
                class="form-control"
                name="qualification"
              />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-4">
              <input
                [(ngModel)]="doctor.email"
                type="text"
                class="form-control"
                name="email"
              />
            </div>
            <label class="col-sm-2 col-form-label">Contact no:</label>
            <div class="col-sm-4">
              <input
                [(ngModel)]="doctor.contact"
                type="text"
                class="form-control"
                name="contact"
              />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Username:</label>
            <div class="col-sm-4">
              <input
                [(ngModel)]="doctor.username"
                type="text"
                class="form-control"
                name="username"
              />
            </div>
            <label class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-4">
              <input
                [(ngModel)]="doctor.password"
                type="text"
                class="form-control"
                name="password"
              />
            </div>
          </div>
          <br />
          <div class="btnWrap col-md-12 text-center">
            <app-button
              [text]="btntext"
              [btnConfig]="textBtnConfig"
              (onClick)="submit($event)"
            ></app-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
