<div class="main-container">
  <app-navbar [btntext]="'Login'"></app-navbar>
  <div class="container-body">
    <!--name-->
    <div class="container w-75">
      <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
        Invalid name <br>
        1. Required <br>
        2. Min Length = 3 <br>
        3. Max Length = 30
      </div>
    </div>
    <!--aadhaar-->
    <div class="container w-75">
      <div class="alert alert-danger" *ngIf="aadhaarNo.touched && aadhaarNo.invalid">
        Invalid aadhaar no<br>
        1. Required <br>
        2. Length = 12
      </div>
    </div>
    <!--registration no-->
    <div class="container w-75">
      <div class="alert alert-danger" *ngIf="registrationNo.touched && registrationNo.invalid">
        Invalid registration no <br>
        1. Required <br>
        2. Min Length = 4 <br>
        3. Max Length = 10
      </div>
    </div>
    <!--Year of registration-->
    <div class="container w-75">
      <div class="alert alert-danger" *ngIf="yearOfRegistration.touched && yearOfRegistration.invalid">
        Invalid year of registration <br>
        1. Required <br>
        2. Min = 1900<br>
        3. Max = 2023
      </div>
    </div>
    <!--Qualification-->
    <div class="container w-75">
      <div class="alert alert-danger" *ngIf="qualification.touched && qualification.invalid">
        Invalid qualification <br>
        1. Required <br>
        2. Min Length = 4 <br>
        3. Max Length = 30
      </div>
    </div>
    <!--Email-->
    <div class="container w-75">
      <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
        Invalid email <br>
        1. Required <br>
        2. Invalid regex
      </div>
    </div>
    <!--contact-->
    <div class="container w-75">
      <div class="alert alert-danger" *ngIf="contact.touched && contact.invalid">
        Invalid contact <br>
        1. Required <br>
        2. Invalid regex
      </div>
    </div>
    <!--username-->
    <div class="container w-75">
      <div class="alert alert-danger" *ngIf="username.touched && username.invalid">
        Invalid username <br>
        1. Required <br>
        2. Min Length = 2 <br>
        3. Max Length = 30
      </div>
    </div>
    <!--password-->
    <div class="container w-75">
      <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
        Invalid password <br>
        1. Required <br>
        2. Min Length = 2 <br>
        3. Max Length = 30
      </div>
    </div>
    <div class="card w-75 mx-auto">
      <div class="card-body">
        <form (ngSubmit)="!docRegForm.invalid && submit()" #docRegForm="ngForm">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Doctor name:</label>
            <div class="col-sm-4">
              <input
                [(ngModel)]="doctor.name"
                type="text"
                class="form-control"
                name="name"
                required="required"
                minlength="3"
                maxlength="30"
                #name="ngModel"
              />
            </div>
            <label class="col-sm-2 col-form-label">Aadhaar no:</label>
            <div class="col-sm-4">
              <input
                [(ngModel)]="doctor.aadhaarNo"
                type="number"
                class="form-control"
                name="aadhaarNo"
                required="required"
                min="100000000000"
                max="999999999999"
                #aadhaarNo="ngModel"
              />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Registration no:</label>
            <div class="col-sm-4">
              <input
                [(ngModel)]="doctor.registrationNo"
                type="number"
                class="form-control"
                name="registrationNo"
                required="required"
                min="1000"
                max="9999999999"
                #registrationNo="ngModel"
              />
            </div>
            <label class="col-sm-2 col-form-label">Year of Registration:</label>
            <div class="col-sm-4">
              <input
                [(ngModel)]="doctor.yearOfRegistration"
                type="number"
                class="form-control"
                name="yearOfRegistration"
                required="required"
                min="1900"
                max="2023"
                #yearOfRegistration="ngModel"
              />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">
              State medical council:
            </label>
            <div class="col-sm-4">
              <app-dropdown
                [states]="stateList"
                [dropConfig]="textDropConfig"
                (selectedDropdown)="saveState($event)"
              ></app-dropdown>
            </div>
            <label class="col-sm-2 col-form-label">Qualification:</label>
            <div class="col-sm-4">
              <input
                [(ngModel)]="doctor.qualification"
                type="text"
                class="form-control"
                name="qualification"
                required="required"
                minlength="2"
                maxlength="30"
                #qualification="ngModel"
              />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-4">
              <input
                [(ngModel)]="doctor.email"
                type="email"
                class="form-control"
                name="email"
                required="required"
                pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
                #email="ngModel"
              />
            </div>
            <label class="col-sm-2 col-form-label">Contact no:</label>
            <div class="col-sm-4">
              <input
                [(ngModel)]="doctor.contact"
                type="number"
                class="form-control"
                name="contact"
                required="required"
                pattern="^[6-9]\d{9}$"
                #contact="ngModel"
              />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Username:</label>
            <div class="col-sm-4">
              <input
                [(ngModel)]="doctor.username"
                type="text"
                class="form-control"
                name="username"
                required="required"
                minlength="2"
                maxlength="30"
                #username="ngModel"
              />
            </div>
            <label class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-4">
              <input
                [(ngModel)]="doctor.password"
                type="password"
                class="form-control"
                name="password"
                required="required"
                minlength="2"
                maxlength="30"
                #password="ngModel"
              />
            </div>
          </div>
          <br />
          <div class="btnWrap col-md-12 text-center">
            <app-button
              [text]="btntext"
              [btnConfig]="textBtnConfig"
              
            ></app-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
